# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
graphify-out
.codex
.history
.vscode

# Files from Forge MDK
forge*changelog.txt

# Local mod dependencies
/libs/*.jar
!/libs/.gitkeep
